* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  color: rgb(239, 241, 245);
  background-color: rgb(0, 18, 51);
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Arimo", sans-serif;
  padding: 4rem 0;
}

.material-icons.md-30 {
  font-size: 3rem;
}

.material-icons.md-100 {
  font-size: 10rem;
}

.about-section {
  width: 100%;
}

.about-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}

.about-section__img,
.about-section__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0rem;
  background-color: #003479;
}

.about-section__text {
  font-size: 2rem;
  text-align: center;
  box-sizing: content-box;

}

.about-section__text p{
  width: 100%;
  padding: 3rem 2rem;
  border-left: 2px solid white;
}

.about-section__img img {
  width: 50%;
  border-radius: 50%;
}

.services-section {
  width: 100%;
}

.services-section__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  width: 100%;
}

.services-section__service {
  padding: 4rem 2rem;
  text-align: center;
}

.services-section__service h3 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
}

.services-section__service span {
  margin: 2rem 0;
}

#service-1 {
  grid-column: 1 / 7;
  background-color: #063386;
}

#service-2 {
  grid-column: 7 / -1;
  background-color: #012e81af;
}

#service-3 {
  grid-column: 1 / -1;
  background-color: #0353a4;
}

.projects-section__container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

.projects-section__project{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30rem;
}

.projects-section__project:nth-of-type(1) {
  background-color: #0059ff;
  box-shadow: inset 20rem 0px 100rem rgba(0, 0, 0, 0.5);
  grid-column: 4 / -1;
}
.projects-section__project:nth-of-type(2) {
  background-color: #002eac;
  box-shadow: inset -20rem 0px 100rem rgba(0, 0, 0, 0.5);
  grid-column: 1 / 10;
}
.projects-section__project:nth-of-type(3) {
  background-color: #0059ff;
  box-shadow: inset 20rem 0px 100rem rgba(0, 0, 0, 0.5);
  grid-column: 4 / -1;
}
.projects-section__project:nth-of-type(4) {
  background-color: #002eac;
  box-shadow: inset -20rem 0px 100rem rgba(0, 0, 0, 0.5);
  grid-column: 1 / 10;
}

.projects-section__textContainer{
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-section__textContainer h3 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
  margin-bottom: 1rem;
}

.projects-section__textContainer p {
  font-size: 1.8rem;
  text-align: center;
}

.projects-section__textContainer a {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.2s;
}

.projects-section__textContainer a:hover {
  background-color: rgb(255, 255, 255);
}

.projects-section__imgContainer{
  width: 50%;
}

.projects-section__imgContainer.left img{
  position: relative;
  left: -70px;
  top: 40px;
  width: 100%;
  border-radius: 1rem;
  box-shadow: -0.7rem 0.7rem 0 rgba(0, 0, 0, 0.5);
}

.projects-section__imgContainer.right img{
  position: relative;
  left: 70px;
  top: 40px;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 0 rgba(0, 0, 0, 0.5);
}

.contact-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  background-color: #00438b;
}

.contact-section__container-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section__container-text h3 {
  font-size: 5rem;
  text-align: center;
  border-right: 2px solid rgb(255, 255, 255);
  padding: 5rem 0;
}

.contact-section__container-form{
  width: 100%;
  padding: 3rem 5rem;
}

.contact-section__container-form div{
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.5rem;
  background-color: #001947;
  color: white;
  font-size: 1.5rem;
}

input {
  height: 4rem;
}

#submit{
  padding: 0;
  background-color: #000f29;
}

#submit:hover{
  background-color: #00060f;
}

textarea {
  height: 10rem;
  resize: vertical;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border: 0.1rem solid black;
}

#to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: #000103;
  border-radius: 100%;
  color: white;
  line-height: 0;
}

footer{
  padding: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
}