* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  color: rgb(239, 241, 245);
  background-color: rgb(0, 18, 51);
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Arimo", sans-serif;
  padding: 4rem 0;
}

.material-icons.md-30 {
  font-size: 3rem;
}

.material-icons.md-100 {
  font-size: 10rem;
}

.title-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/software-developer.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title-section__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5rem;
}

.title-section h1, .title-section > h1 span {
  font-family: "Arimo", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem #0466c883;
}

.title-section > h1 span {
  display: block;
  margin-top: 1rem;
}

.title-section p {
  font-size: 2rem;
  line-height: 0;
}

.about-section {
  width: 100%;
}

.about-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}

.about-section__img,
.about-section__textIconsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0rem;
  background-color: #003479;
}

.about-section__textIconsContainer {
  font-size: 2rem;
  text-align: center;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}
.about-section__textIconsContainer > div {
  width: 100%;
  padding: 3rem 2rem;
  border-left: 2px solid white;
}

.about-section__textIconsContainer p {
  font-size: 2.5rem;
}

.about-section__iconContainer {
  margin-top: 2rem;
}

.about-section__iconContainer i {
  font-size: 4rem;
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s;
}

.about-section__iconContainer i:nth-of-type(3) {
  margin-right: 0rem;
}

.about-section__iconContainer i:hover {
  color: rgba(255, 255, 255);
}

.about-section__iconContainer i:active {
  transform: scale(0.95);
}

.about-section__img img {
  width: 50%;
  border-radius: 50%;
}

.services-section {
  width: 100%;
}

.services-section__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  width: 100%;
}

.services-section__service {
  padding: 4rem 2rem;
  text-align: center;
}

.services-section__service h3 {
  font-size: 2.8rem;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
}

.services-section__service p {
  font-size: 2rem;
}

.services-section__service span {
  margin: 2rem 0;
}

#service-1 {
  grid-column: 1 / 7;
  background-color: #063386;
}

#service-2 {
  grid-column: 7 / -1;
  background-color: #012e81af;
}

#service-3 {
  grid-column: 1 / -1;
  background-color: #0353a4;
}

.projects-section__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

.projects-section__project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: auto;
  grid-column: 1 / -1;
}

.projects-section__imgContainer.left {
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
}

.projects-section__imgContainer.right {
  grid-column: 9 / -1;
  display: flex;
  align-items: center;
}

.projects-section__imgContainer.left img {
  width: 100%;
  height: auto;
  max-height: 80%;
  min-height: 60%;
  border-radius: 0.5rem;
  box-shadow: -0.7rem 0.7rem 0 rgba(0, 0, 0, 0.5);
  position: relative;
  right: -150px;
}

.projects-section__imgContainer.right img {
  width: 100%;
  height: auto;
  max-height: 80%;
  min-height: 60%;
  border-radius: 0.5rem;
  box-shadow: 0.7rem 0.7rem 0 rgba(0, 0, 0, 0.5);
  position: relative;
  right: 150px;
}

.projects-section__textContainer {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#textContainer1 {
  background-color: #0059ff;
  box-shadow: inset 20rem 0px 100rem rgba(0, 0, 0, 0.5);
  grid-column: 5 / -1;
  padding-left: 20rem;
}
#textContainer2 {
  background-color: #002eac;
  box-shadow: inset -20rem 0px 100rem rgba(0, 0, 0, 0.5);
  grid-column: 1 / 9;
  padding-right: 20rem;
}
#textContainer3 {
  background-color: #0059ff;
  box-shadow: inset 20rem 0px 100rem rgba(0, 0, 0, 0.5);
  grid-column: 5 / -1;
  padding-left: 20rem;
}
#textContainer4 {
  background-color: #002eac;
  box-shadow: inset -20rem 0px 100rem rgba(0, 0, 0, 0.5);
  grid-column: 1 / 9;
  padding-right: 20rem;
}

.projects-section__textContainer h3 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
  margin-bottom: 1rem;
}

.projects-section__textContainer p {
  font-size: 1.8rem;
  text-align: center;
}

.projects-section__textContainer a {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.2s;
}

.projects-section__textContainer a:hover {
  background-color: rgb(255, 255, 255);
}

.projects-section__textContainer a:active {
  transform: scale(0.95);
}

.contact-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  background-color: #00438b;
}

.contact-section__container-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section__container-text h3 {
  font-size: 5rem;
  text-align: center;
  border-right: 2px solid rgb(255, 255, 255);
  padding: 5rem 2rem;
}

.contact-section__container-form {
  width: 100%;
  padding: 3rem 5rem;
}

.contact-section__container-form div {
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.5rem;
  background-color: #001947;
  color: white;
  font-size: 1.5rem;
}

input {
  height: 4rem;
}

#submit {
  padding: 0;
  background-color: #000f29;
}

#submit:hover {
  background-color: #00060f;
}

#submit:active {
  transform: scale(0.95);
}

textarea {
  height: 10rem;
  resize: vertical;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border: 0.1rem solid black;
}

#to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: #000103;
  border-radius: 100%;
  color: white;
  line-height: 0;
}

footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .title-section h1, .title-section > h1 span  {
    font-size: 4rem;
  }
  .about-section__img img {
    width: 60%;
  }
  .about-section__textIconsContainer p {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 768px) {
  .title-section h1, .title-section > h1 span  {
    font-size: 3.5rem;
  }
  .about-section__container {
    display: flex;
    flex-direction: column;
  }
  .about-section__img,
  .about-section__textIconsContainer {
    padding: 0rem 3rem;
  }
  .about-section__img {
    padding: 3rem 3rem;
  }
  .about-section__img img {
    height: 30rem;
    width: auto;
  }
  .about-section__textIconsContainer > div {
    width: 100%;
    border-left: none;
    border-top: 2px solid white;
  }
  .about-section__textIconsContainer p {
    font-size: 2rem;
  }
  .services-section__service p {
    font-size: 1.8rem;
  }
  #service-1 {
    grid-column: 1 / -1;
  }

  #service-2 {
    grid-column: 1 / -1;
  }

  #service-3 {
    grid-column: 1 / -1;
  }
  #project-4,
  #project-2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  #project-1,
  #project-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .projects-section__imgContainer {
    display: flex;
    justify-content: center;
  }
  .projects-section__imgContainer.left img,
  .projects-section__imgContainer.right img {
    width: 60%;
    height: auto;
    max-height: 100%;
    min-height: 100%;
    position: relative;
    right: 0;
    bottom: -60px;
  }
  .projects-section__textContainer p {
    padding: 2rem;
  }
  #textContainer1,
  #textContainer2,
  #textContainer3,
  #textContainer4 {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .contact-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-section__container-text {
    width: 90%;
    padding: 3rem;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
  }
  .contact-section__container-text h3 {
    font-size: 4rem;
    border-right: none;
  }
}

@media screen and (max-width: 480px) {
  .material-icons.md-30 {
    font-size: 2.5rem;
  }
  .title-section h1, .title-section > h1 span  {
    font-size: 3rem;
  }
  .title-section p {
    font-size: 1.8rem;
  }
  .about-section__img img {
    height: 25rem;
  }
  .about-section__textIconsContainer p {
    font-size: 1.8rem;
  }
  .contact-section__container-text h3 {
    font-size: 3.5rem;
  }
  .projects-section__imgContainer.left img,
  .projects-section__imgContainer.right img {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .title-section h1, .title-section > h1 span  {
    font-size: 2.5rem;
  }
  .contact-section__container-text h3 {
    font-size: 3rem;
  }
}
